.headerContainer {
  height: 12.5rem;
}

.headerContent {
  height: 100%;
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 2rem;
  
  display: flex;
  align-items: center;
  
  background: var(--gray-700);
  img{
    margin: 0 auto;
  }
}